@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');


* {
    box-sizing: border-box;
}


a, button {
    transition: all .4s ease-in;
    text-decoration: none;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    max-height: 100%;
    font: 400 2.2rem/1.8 'Poppins', sans-serif;
    color: #444444;
}

.container {
    max-width: 1140px;
    width: 98%;
    margin: 0 auto;

}

.logo,
.menu__link {
    font-weight: 700;
    color: #fff;
}

.logo:hover,
.logo:focus,
.logo:active,
.menu__link:hover,
.menu__link:focus,
.menu__link:active {
    color: #e71cb4;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
    border-bottom: 2px solid #e71cb4;
}

header {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;
}

.logo {
    font-size: 3.4rem;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    display: inline-block;
    margin-left: 1.5em;
}
    

.menu__link {
    font-size: 1.6rem;
}

.menu-toggler {
    display: none;
}

.section {
    padding: 100px 0;
}

.section:first-child {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.section--lg-padding {
    padding: 150px 0;
}

.section--bg--img {
    background-color: #1f232e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.section--gradient {
    background-image: linear-gradient(to top, #ff00cc 0%, #333999 65%);
    color: #fff;
}

.section--pink {
    background-color: #f9e8ea;
}

.section--grey {
    background-color: #eee;
}

.section__title {
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 6.2rem;
}

h3 {
    font-size: 3.6rem;
}

h4 {
    font-size: 3rem;
    margin: 2.2em 0 1em;
}

.section__subtitle {
    font-size: 3rem;
    margin-bottom: 2.3em;
}

h2 +.section__subtitle {
    margin: 3em 0 4em;
}

.list {
    margin: 4em 0 1em;
    padding: 0;
    list-style: none;
    columns: 2;
}

.list__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.list__order {
    font-size: 4.4rem;
    font-weight: 700;
    padding: 0 .75em 0 1em;
    line-height: 1;
    min-width: 205px;
}

.list__order i {
    font-size: .7em;
    margin-right: 1em;
    vertical-align: top;
    line-height: 4.4rem;
}

.list__text {
    line-height: 1.2;
    min-height: 10.8rem;
}

/* Buttons */
.btn {
    color: white;
    background-color: #e71cb4;
    border: 2px solid #e71cb4;
    padding: 20px 70px;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 10px;
    text-transform: capitalize;
    display: inline-block;
}

.btn--sm {
    padding: 20px;
}

.btn--black {
    background-color: #555555;
    border-color: #555;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 1.2rem;
}

.btn--black:hover,
.btn--black:focus,
.btn--black:active {
    background-color: #fff;
    color: #555555;
}


.btn:hover,
.btn:focus,
.btn:active {
    background-color: transparent;
    color: #e71cb4;
}

.btn--transparent {
    background-color: transparent;
    border-color: #fff;
}

.btn--transparent:hover,
.btn--transparent:focus,
.btn--transparent:active {
    background-color: #ffffff;
    color: #444444;
}

.persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person {
    margin: 15px 45px;
    width: calc(100% / 3 - 90px);
}

.person--lg {
    margin: 15px 25px;
    width: calc(100% /3 - 50px);
}

.person__img {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.person__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.person__img-round {
    border-radius: 50%;
}


.person__name {
    font-weight: 700;
    font-size: 2.4rem;
    margin: 10px 0;
}

.person__pos {
    font-size: 1.4rem;
}


.countdown__item {
   display: inline-block;
   background-color: #480340;
   border: 1px solid #480340;
   text-align: center;
   padding: 30px;
   width: 174px;
   margin: 0 30px;
}

.countdown__num {
    line-height: 1;
    font-size: 7.2rem;
    font-weight: 700;
}

.countdown__text {
   font-size: 1.8rem;
   line-height: 1;
   text-transform: uppercase;

}

.countdown__item--transparent {
   background-color: transparent;
   border-color: #fff;
}

.sponsors {
    list-style: none;
    padding: 0;
}

.sponsor {
    display: inline-block;
}

.sponsor__logo {
    transform: scale(.8);
    transition: all .25s ease-in;
}

.sponsor__logo:hover,
.sponsor__logo:focus,
.sponsor__logo:active {
    transform: scale(1);
}

.socials {
    padding: 0;
    list-style: none;
}

.social{
    display: inline-block;
}

.social__link {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #dedede;
    color: #fff;
    font-size: 1.2em;
    line-height: 65px;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
    background-color: #fff;
    color: #dedede;
}
   
.newsletter__input {
    border: 2px solid #fff;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 10px;
    color: #888888;
    width: 400px;
    transition: all .25s ease-in;
}

.newsletter__input:hover {
    outline: none;
    border-color: #e71cb4;

}

.contacts {
    font-size: 1.3rem;
    text-align: left;
}


.contacts__input {
    border: none;
    border-bottom: 2px solid #000;
    display: block;
    width: 100%;
    padding: 15px 0;
    transition: all .25s ease-in;
}


.contacts__label {
    display: block;
    width: 100%;
    padding: 15px 0;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
    transition: all .25s ease-in;
}

.row {
    display: flex;
    margin-bottom: 50px;
}

.col {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
    position: relative;
    border-bottom: 2px solid #000;
}

.col + .col {
    margin-left: 30px;
}

.contacts__input.filled + .contacts__label,
.contacts__input:focus + .contacts__label {
    transform: translate(0, 0);
}

.contacts__input:focus {
    outline: none;
    border-color: transparent;
}

<<<<<<< HEAD
/* .validated {
    /*border-color: #f40808;*/
/* } */ 

=======
>>>>>>> 8c6cbadd31e1a3e258e1394931be54882ed2ee2b
.validated .contacts__input:invalid {
    border-color: #f40808;
}


.validated .contacts__input:invalid + .contacts__label {
    color: #f40808;

}



/* Helpers */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-purple {
   color: #e71cb4;
}

.text-green {
    color: #67aa6a;
}

.text-blue {
    color: #acdeeb;
}

.text-yellow {
    color: #f6dd3a;
}

.text-pink {
    color: #e06177;
}

.text-red {
    color: #ff6179;
}




@media screen and (max-width:576px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
        padding: 50px 30px;
        text-align: center;
        opacity: 0;
        transform: translate(0, -100%);
        transition: all .5s ease-in-out;
        z-index: 10;
    }

    .menu-toggler {
        display: block;
        color: #fff;
        font-size: 3.6rem;
        width: 42px;
        height: 42px;
        text-align: center;
        line-height: 42px;
        position: fixed;
        top: 20px;
        right: 10px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 5px rgba(0, 0, 0, .8);
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        outline: 0;
    }       

    .menu-toggler:focus {
        opacity: 0;
    }

    .menu-toggler:focus + .menu,
    .menu-opened .menu {
         opacity: 1;
         transform: translate(0, 0);
         transition: all .5s ease-in-out;
    }
    .menu-toggler:focus + .menu::after {
        content: '×';
        color: #fff;
        font-size: 6.6rem;
        position: absolute;
        top: 20px;
        right: 20px;
        line-height: 42px;

    }

    .menu__item {
        display: block;
        margin: 0;
        padding: 15px 0;
    }

    .menu__link {
        font-size: 2.4rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
    }
}